---
---

@import "{{ site.theme }}";
body {
  background-color: #fff;
  padding:50px;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
a {
  color: #77c4ff;
  text-decoration:none;
}
h1 {
  font-size:32px;
}
.myname{
	color: #000000;
}
a:hover, a:focus {
  color:#494949;
  font-weight: bold;
}
section {
  width:700px;
  float:right;
  padding-bottom:50px;
}